:root {
  --white: #FFFFFF;
  --white-o2: rgba(white, 0.2);
  --white-o5: rgba(white, 0.5);
  --white-o7: rgba(white, 0.7);
  --gray: #F4F6FA;
  --gray_dark: #D5D8DF;
  --main: #F70157;
  --main_hover: #D9004C;
  --yellow: #CAB70A;
  --green: #63ac1a;
  --dark_light: #616161;
  --dark: #333333;
  --main_radius: 10px;
  --between_section: 60px 160px 0 160px;
  --between_section--mob: 20px;
  --between_section--tab: 60px 80px 0 80px;
  --font_regular: Inter, sans-serif;
  --transition: 0.2s;
}
